<div class="loader-container">
  <div 
    class="loader-card" 
    *ngFor="let item of skeletons; let i = index">
    
    <div class="logo-skeleton"></div>

    <div class="content-skeleton">
      <div class="title-skeleton"></div>
      <div class="subtitle-skeleton"></div>

      <div class="tags-row">
        <div class="tag-skeleton"></div>
        <div class="tag-skeleton"></div>
        <div class="tag-skeleton"></div>
      </div>
    </div>

    <div class="button-skeleton"></div>

  </div>
</div>